main{
    border-left: 100px solid rgb(248, 241, 241);
    border-right: 100px solid rgb(248, 241, 241);
    border-top: 30px solid rgb(248, 241, 241);
    border-bottom: 10px solid rgb(248, 241, 241);
}

.botton1{
    background-color:   rgb(45, 183, 230);
    color: white;
}
.botton2{
    border:1px solid grey;
    background-color:  white ;
    color:grey
}
.titolo{
    font-size: 40px ;
}
.lista1{
    list-style-type: circle;
    margin :14px;
}
.botton3{
    background-color:   rgb(45, 183, 230);
    margin: 10px;
    color: white;
}
.botton4{
    background-color:   rgb(45, 183, 230);
    margin: 10px;
    color: white;
}
.botton10{
    background-color:   rgb(45, 183, 230);
    margin: 10px;
    color: white;
}
.botton5{
    background-color:  rgb(138, 63, 138);
    margin: 10px;
    color: white;
}
.botton6{
    background-color:  green;
    margin: 10px;
    color: white;
}
.botton7{
    background-color: orange ;
    margin: 10px;
    color: white;
}
.botton8{
    background-color: red ;
    margin: 10px;
    color: white;
}
.botton9{
    background-color: greenyellow  ;
    margin: 10px;
    color: white;
}